# dependencies
node_modules/
.pnpm-store/

# build outputs
.next/
dist/
build/
out/

# turbo
.turbo/

# env
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# prisma
apps/api/prisma/dev.db

# misc
coverage/
*.tsbuildinfo

# Serwist (PWA) generated service worker, source is apps/web/src/app/sw.ts
apps/web/public/sw*
apps/web/public/swe-worker*
